/* --------------------------------------- *\
                    Fonts
/* ---------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* --------------------------------------- *\
                  Utilities
/* ---------------------------------------- */

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
}

/* --------------------------------------- *\
                  Header
/* ---------------------------------------- */

.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #008000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.headerLogo a img {
  width: 127px;
  padding: 7px 20px 15px;
  object-fit: cover;
}

.menuItems li {
  display: inline-block;
  padding: 10px 20px;
}

.menuContainer {
  display: flex;
}

.menuItems li a {
  color: #006a4e;
  font-weight: 600;
}

.searchIcon {
  font-size: 30px;
}

.cartIcon {
  width: 40px;
}

.cart {
  background-color: #006a4e;
  width: 125px;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.arrowIcon {
  width: 30px;
  position: absolute;
  top: 24.5px;
  right: 131px;
  z-index: 1;
}

.artboard {
  border-bottom: 1px solid rgb(235, 250, 237);
  padding: 5px 0px;
}

.artboard img {
  width: 25px;
}

.price {
  padding: 5px 0px;
}

/* --------------------------------------- *\
                  Main
/* ---------------------------------------- */

main {
  display: flex;
}

/* --------------------------------------- *\
                  Sidebar
/* ---------------------------------------- */

.sidebar {
  width: 270px;
  height: 100%;
}

.leftSidebar {
  width: 270px;
  padding: 5px 0px;
  top: 75px;
  position: fixed;
  height: calc(100vh - 60px);
  background: #ffffff;
  overflow: auto;
  z-index: 98;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

/* width */
.leftSidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.leftSidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.leftSidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.leftSidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.5s;
}

.sidebarItem:hover {
  transform: translateX(10px);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.sidebarImg {
  width: 30px;
}

.sidebarDividerText,
.sidebarText {
  font-size: 15px;
  font-weight: 700;
  color: #006a4e;
  padding-left: 15px;
}

.sidebarDivider {
  background: rgb(244, 244, 244);
  padding: 10px 30px;
  margin-bottom: 5px;
}

.sidebarDividerText {
  color: #808080;
}

.sidebarDividerText span {
  color: #006a4e;
}

.sidebarDividerText .lastname {
  color: #fb6801;
}

/* --------------------------------------- *\
              Main Container Menu
/* ---------------------------------------- */

.mainContainer {
  width: calc(100% - 255px);
}

.mainContainerMenu {
  width: calc(100% - 255px);
  height: 50px;
  top: 75px;
  right: 0px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 97;
  background: #ffffff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.mainMenuItem {
  width: 33.33%;
  border-right: 1px solid #c7c3c3;
}

.mainMenuItem a {
  font-size: 16px;
  font-weight: 600;
  color: #313131;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  transition: 0.9s;
}

.mainMenuItem a:hover {
  padding-left: 20px;
  transition: 0.9s;
}

.middleItem {
  border-left: 1px solid #8080807a;
  border-right: 1px solid #8080807a;
}

/* --------------------------------------- *\
                Main Container
/* ---------------------------------------- */

.container {
  display: flex;
  justify-content: center;
}

.footerContainerContent,
.containerContent {
  max-width: 1240px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 126px;
}

.footerContainer {
  background-color: hsl(0deg 0% 87% / 22%);
  padding: 30px 0px;
}

.footerContainerContent {
  margin-top: 0px;
}

/* --------------------------------------- *\
                    Banner
/* ---------------------------------------- */

.banner {
  padding-bottom: 60px;
}

.banner img {
  width: 100%;
}

/* --------------------------------------- *\
                    Preorder
/* ---------------------------------------- */

.preorder {
  background: hsla(0, 0%, 50.2%, 0.09019607843137255);
  padding: 15px 30px;
  position: relative;
}

.leftBorder {
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px;
  background: rgb(68, 189, 50);
}

.title {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #313131;
}

.preorderProductList {
  position: relative;
  min-height: 223px;
  width: 280px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  overflow: hidden;
}

.offerItemImg img {
  width: 100%;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.offerItemImg img:hover {
  transform: scale(1.2);
}

.offerItemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #ffffff;
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 0;
  height: 60px;
}

.offerItemContent p {
  color: #615e58;
}

/* --------------------------------------- *\
              Product Display
/* ---------------------------------------- */

.products {
  margin-top: 40px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 29px;
}

.card {
  width: 280px;
  border: 1px solid rgba(251, 231, 231, 0.38823529411764707);
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  height: 370px;
  border-bottom: none;
  position: relative;
}

.productCatagoryRegular,
.productCatagory {
  position: absolute;
  right: 15px;
  top: 10px;
  display: inline-block;
  background: rgba(23, 177, 23, 0.7019607843137254);
  border-radius: 3px;
  z-index: 5;
}

.productCatagoryRegular {
  background: #0097e6;
}

.productCatagoryRegular p,
.productCatagory p {
  font-size: 12px;
  padding: 3px 6px;
  color: #ffffff;
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  height: 130px;
}

.cardImage img {
  width: 40%;
}

.cardImage img:hover {
  transform: scale(1.4);
  transition: 0.5s;
}

.cardText {
  text-align: center;
  font-weight: 500;
  height: 190px;
}

.cardTitle {
  font-size: 16px;
  line-height: 25px;
  color: #1a1a1a;
}

.cardsubtitle {
  font-size: 12px;
  color: #fb6801;
}

.cardPrice {
  font-size: 13px;
  color: #605e58;
  margin: 9px 0 30px;
}

.cardPrice span {
  font-size: 18px;
  font-weight: 700;
}

.detailsButton {
  display: inline-block;
  border: 1px solid #006a4e;
  color: #006a4e;
  font-size: 11px;
  padding: 1px 5px;
  font-weight: 600;
}

.deliveryStatus,
.productDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
}

.deliveryStatus {
  justify-content: flex-start;
}

.deliveryStatus img {
  height: 22px;
  margin-right: 5px;
}

.deliveryStatus p {
  font-size: 11px;
  line-height: 25px;
  color: #9b9898;
}

.deliveryPayment img {
  height: 22px;
}

.cardBtn {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  background-color: #006a4e;
  border-radius: 3px;
}

/* --------------------------------------- *\
                 Catagories
/* ---------------------------------------- */

.sectionHeading {
  max-width: 1240px;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 50.2%, 0.3607843137254902);
  margin: auto auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingText {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  color: #313131;
  padding-bottom: 10px;
}

.headingText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background-color: #006a4e;
}

.catagories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
  grid-gap: 20px;
  margin-bottom: 30px;
}

.categoryItem {
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  flex-direction: column;
  height: 160px;
  padding: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.categoryImage img {
  width: 90px;
  height: 90px;
  -webkit-object-fit: cover;
  object-fit: cover;
  transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.categoryImage img:hover {
  transform: scale(1.2);
}

.categoryName {
  color: #615e58;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: block;
}

/* --------------------------------------- *\
                 Services
/* ---------------------------------------- */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 15px;
  margin-bottom: 50px;
}

.serviceItem {
  text-align: center;
  padding: 40px 15px 15px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  background: #fff;
  border-radius: 4px;
}

.serviceItemIcon {
  margin-bottom: 13px;
}

.serviceItemIcon img {
  width: 60px;
}

.serviceContentTitle {
  font-size: 17px;
  font-weight: 500;
  color: #313131;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.serviceSubContentTitle {
  font-size: 14px;
  font-weight: 400;
  color: #615e58;
  line-height: 24px;
}

/* --------------------------------------- *\
                footer
/* ---------------------------------------- */

.footerContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  justify-content: center;
  grid-gap: 30px;
  width: 100%;
}

.footerLogoArea {
  text-align: center;
}

.footerLogoArea a img {
  width: 110px;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px 7px;
}

.socialMedia a {
  color: #006a4e;
  font-size: 18px;
}

.donwloadBtn {
  position: relative;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}

.donwloadBtn p {
  display: block;
  width: 200px;
  background: #006a4e;
  margin: 20px auto 0;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 3px;
  height: 36px;
  line-height: 36px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@keyframes movingOverlay {
  0% {
    left: -100%;
    box-shadow: 0 0 0 rgb(145 183 250 / 0%);
  }
  5% {
    left: -100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  25% {
    box-shadow: -20px 0 15px -10px rgb(145 183 250 / 40%);
  }
  50% {
    left: 100%;
    box-shadow: 0 0 0 rgb(145 183 250 / 0%);
  }
  55% {
    left: 100%;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  75% {
    box-shadow: 20px 0 15px -10px rgb(145 183 250 / 40%);
  }
  100% {
    left: -100%;
    box-shadow: 0 0 0 rgb(145 183 250 / 0%);
  }
}

.overlay.movingOverlay {
  -webkit-animation: movingOverlay 5s ease-in-out infinite;
  animation: movingOverlay 5s ease-in-out infinite;
  top: 20px;
}

.overlay {
  height: 36px;
  width: 200px;
  background-color: rgba(0, 106, 78, 0.34901960784313724);
  position: absolute;
  top: 0;
}

.copyright {
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
}

.footerHeading {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  color: #313131;
}

.footerMenu {
  text-align: left;
  margin-top: 15px;
}

.footerMenuItem a {
  display: block;
  color: #615e58;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  display: inline-block;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.footerMenuItem a:hover {
  color: #006a4e;
}

.footerMenuItem.contact {
  display: flex;
  align-items: baseline;
}

.ftIcon {
  color: #006a4e;
  padding-right: 10px;
}

.footerPayment {
  border-top: 1px solid #d3d3d3;
  margin-top: 20px;
  padding: 10px 0;
}

.footerPayment img {
  width: 100%;
}
