/* --------------------------------------- *\
                    Fonts
/* ---------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* --------------------------------------- *\
                  Utilities
/* ---------------------------------------- */

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
}

/* --------------------------------------- *\
                  Header
/* ---------------------------------------- */

.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #008000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.headerLogo a img {
  width: 127px;
  padding: 7px 20px 15px;
  object-fit: cover;
}

.menuItems li {
  display: inline-block;
  padding: 10px 20px;
}

.menuContainer {
  display: flex;
}

.menuItems li a {
  color: #006a4e;
  font-weight: 600;
}

.searchIcon {
  font-size: 30px;
}

.cartIcon {
  width: 40px;
}

.cart {
  background-color: #006a4e;
  width: 125px;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.arrowIcon {
  width: 30px;
  position: absolute;
  top: 24.5px;
  right: 131px;
  z-index: 1;
}

.artboard {
  border-bottom: 1px solid rgb(235, 250, 237);
  padding: 5px 0px;
}

.artboard img {
  width: 25px;
}

.price {
  padding: 5px 0px;
}

/* --------------------------------------- *\
                  Main
/* ---------------------------------------- */

main {
  display: flex;
}

/* --------------------------------------- *\
                  Sidebar
/* ---------------------------------------- */

.sidebar {
  width: 270px;
  height: 100%;
}

.leftSidebar {
  width: 270px;
  padding: 5px 0px;
  top: 75px;
  position: fixed;
  height: calc(100vh - 60px);
  background: #ffffff;
  overflow: auto;
  z-index: 98;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

/* width */
.leftSidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.leftSidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.leftSidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.leftSidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.5s;
}

.sidebarItem:hover {
  transform: translateX(10px);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.sidebarImg {
  width: 30px;
}

.sidebarDividerText,
.sidebarText {
  font-size: 15px;
  font-weight: 700;
  color: #006a4e;
  padding-left: 15px;
}

.sidebarDivider {
  background: rgb(244, 244, 244);
  padding: 10px 30px;
  margin-bottom: 5px;
}

.sidebarDividerText {
  color: #808080;
}

.sidebarDividerText span {
  color: #006a4e;
}

.sidebarDividerText .lastname {
  color: #fb6801;
}

/* --------------------------------------- *\
              Main Container Menu
/* ---------------------------------------- */

.mainContainer {
  width: calc(100% - 255px);
}

.mainContainerMenu {
  width: calc(100% - 255px);
  height: 50px;
  top: 75px;
  right: 0px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 97;
  background: #ffffff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.mainMenuItem {
  width: 33.33%;
  border-right: 1px solid #c7c3c3;
}

.mainMenuItem a {
  font-size: 16px;
  font-weight: 600;
  color: #313131;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  transition: 0.9s;
}

.mainMenuItem a:hover {
  padding-left: 20px;
  transition: 0.9s;
}

.middleItem {
  border-left: 1px solid #8080807a;
  border-right: 1px solid #8080807a;
}

/* --------------------------------------- *\
                Main Container
/* ---------------------------------------- */

.container {
  display: flex;
  justify-content: center;
}

.containerContent {
  max-width: 1240px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 126px;
}

/* --------------------------------------- *\
                    Banner
/* ---------------------------------------- */

.banner {
  padding-bottom: 60px;
}

.banner img {
  width: 100%;
}

/* --------------------------------------- *\
                    Preorder
/* ---------------------------------------- */

.preorder {
  background: hsla(0, 0%, 50.2%, 0.09019607843137255);
  padding: 15px 30px;
  position: relative;
}

.leftBorder {
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px;
  background: rgb(68, 189, 50);
}

.title {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #313131;
}

.preorderProductList {
  position: relative;
  min-height: 223px;
  width: 280px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  overflow: hidden;
}

.offerItemImg img {
  width: 100%;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.offerItemImg img:hover {
  transform: scale(1.2);
}

.offerItemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #ffffff;
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 0;
  height: 60px;
}

/* --------------------------------------- *\
              Product Display
/* ---------------------------------------- */

.freshProducts {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1fr, 1fr, 1fr);
  grid-gap: 10px;
}

.card {
  width: 280px;
  border: 1px solid rgba(251, 231, 231, 0.38823529411764707);
  border-bottom: none;
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cardImage img {
  width: 50%;
}

.cardText {
  text-align: center;
  font-weight: 500;
}

.cardTitle {
  font-size: 16px;
  line-height: 25px;
  color: #1a1a1a;
}

.cardsubtitle {
  font-size: 12px;
  color: #fb6801;
}

.cardPrice {
  font-size: 13px;
  color: #605e58;
  margin: 5px 0 15px;
}

.cardPrice span {
  font-size: 18px;
  font-weight: 700;
}
